<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ibm.mobilefirstplatform.appid_clientsdk_android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:supportsRtl="true">

        <activity
                android:name="com.ibm.bluemix.appid.android.internal.authorizationmanager.WebViewActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name="com.ibm.bluemix.appid.android.internal.authorizationmanager.ChromeTabActivity">
            <intent-filter>
                <action android:name="com.ibm.bluemix.appid.android.POST_AUTHORIZATION_INTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.ibm.bluemix.appid.android.internal.authorizationmanager.RedirectUriReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="${appIdRedirectScheme}"/>
            </intent-filter>
        </activity>
    </application>

</manifest>